<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog blogPost</title>
</head>
<body>
<h3>Create Blog Post:</h3>
<form method="post" th:object="${blogPost}">
    <div>
        <label>Title</label>
        <input type="text" placeholder="Title" th:field="*{title}">
    </div>
    <div>
        <label>Blog post description</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <div>
        <label>Category</label>
        <input type="text" placeholder="Category" th:field="*{category}">
    </div>
    <button type="submit">Create Blog Post</button>
</form>
<div th:if="${message}" th:text="${message}"></div>
</body>
</html>