<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isBlogPostExist=${blogPost.id ne null}">
<head>
<meta charset="UTF-8">
    <title th:text="${isBlogPostExist ? 'Upadte blogPost' : 'Create blogPost'}"></title>
</head>

<body>
<h3 th:text="${isBlogPostExist ? 'Update blogPost:' : 'Create blogPost:'}"></h3>
<form method="post" th:object="${blogPost}">
    <div>
        <label>Title</label>
        <input type="text" placeholder="Title" th:field="*{title}">
    </div>
    <div>
        <label>Blog post description</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <div>
        <label>Category</label>
        <input type="text" placeholder="Category" th:field="*{category}">
    </div>
    <button type="submit" th:text="${isBlogPostExist ? 'Update' : 'Create'}"></button>
</form>
<div th:if="${message}" th:text="${message}"></div>
</body>
</html>